body {
  font-family: "Annapurna SIL", serif;
  font-weight: 400;
  font-style: normal;
}

.homeBackground {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/artjom_background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  height: 70vh;
  width: 100%;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: hidden;
}

.annapurna-sil-bold {
  font-family: "Annapurna SIL", serif;
  font-weight: 700;
  font-style: normal;
}

section[id] {
  scroll-margin-top: 80px; /* Adjust this value to match navbar height */
}
